registry=https://nexus.telefonica.com.br/repository/nodejs/
sass_binary_site=https://nexus.telefonica.com.br/repository/node-sass-dist
@b2b-canaisdigitais:registry=https://nexus.telefonica.com.br/repository/b2b-canaisdigitais-npm/
@dex-commons:registry=https://nexus.telefonica.com.br/repository/dex-commons-npm/
@vivo:registry=https://nexus.telefonica.com.br/repository/b2b-canaisdigitais-npm/
